
/* @import url(http://fonts.googleapis.com/css?family=Sintony:400,700&subset=latin,latin-ext); */

@font-face {
    font-family: Sintony;
    src: url('../assets/fonts/Sintony-Regular.ttf');
}

@font-face {
    font-family: Sintony;
    font-weight: bold;
    src: url('../assets/fonts/Sintony-Bold.ttf');
}

body {
    font-family: 'Sintony';
    font-size: 12px;
}

.label {
    font-weight: bold;
}

.home {
    color: black;
}

code {
    font-weight: normal;
}
