
/* @import url(http://fonts.googleapis.com/css?family=Sintony:400,700&subset=latin,latin-ext); */

@font-face {
    font-family: Sintony;
    src: url('../assets/fonts/Sintony-Regular.ttf');
}

@font-face {
    font-family: Sintony;
    font-weight: bold;
    src: url('../assets/fonts/Sintony-Bold.ttf');
}

html {
    font-size: 0.9rem;

}

body {
    font-family: 'Sintony';
}

.label {
    font-weight: bold;
}

.home {
    color: black;
}

code.json {
    font-weight: normal;
    font-size: 0.8em;
}
