      <!-- START THE FEATURETTES -->

      {% for feature in site.data.features %}

      <hr class="featurette-divider">

      {% assign mod = forloop.index | modulo: 2 %}
      {% if mod == 0 %}

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="{{ feature.image }}" alt="">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">{{ feature.title }}</h2>
          <p class="lead">{{ feature.text }}</p>
        </div>
      </div>

      {% else %}

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">{{ feature.title }}</h2>
          <p class="lead">{{ feature.text }}</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="{{ feature.image }}" alt="">
        </div>
      </div>

      {% endif %}
      {% endfor %}

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
      