    <!-- Sidebar -->

    <aside class="large-3 columns">
    <ul class="side-nav">
      <!-- {% include categories.html %} -->

  {% for node in site.pages %}
    {% if page.url == node.url %}
      <li class="active"><a href="{{node.url}}" class="active">{{node.title}}</a></li>
    {% else %}
      <li><a href="{{node.url}}">{{node.title}}</a></li>
    {% endif %}
  {% endfor %}


      {% include featured.html %}

    </aside>
    </ul>
    <!-- End Sidebar -->
  </div>

  <!-- End Main Content and Sidebar -->