  <!-- Nav Bar -->

  <div class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
       <ul class="button-group">
         <li><a href="{{ site.url }}/docs/home/" class="button">Documentation</a></li>
         <li><a href="{{ site.url }}/docs/download/" class="button">Download</a></li>
         <li><a href="http://try.alerta.io" class="button">Try It</a></li>
         <li><a href="{{ site.repository }}" class="button">View on Github</a></li>
        </ul>
      </div>
      <h1><a class="home" href="/home/">alerta</a> <small>monitoring system</small></h1>
      <hr />
    </div>
  </div>

  <!-- End Nav -->
  