  <!-- Nav Bar -->

  <div class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
        <ul class="">
          <li><a href="{{ site.url }}/docs/home/" class="">Documentation</a></li>
          <li><a href="{{ site.url }}/docs/download/" class="">Download</a></li>
          <li><a href="http://try.alerta.io" class="">Try It</a></li>
          <li><a href="{{ site.repository }}" class="">View on Github</a></li>
        </ul>
      </div>
        <h1><a class="home" href="/home/">alerta</a></h1>
      <hr />
    </div>
  </div>

  <!-- End Nav -->

