{% include head.html %}

<body>

  {% include nav.html %}

  <!-- Main Page Content and Sidebar -->

  <div class="row">
    <div class="large-12 columns">
      <h2 id="title">{{ page.title }}</h4>
    </div>
  </div>

  <!-- Main Page Content -->

  <div class="row">
    <div class="large-9 columns">
      {{ content }}
    </div>

    <!-- End Main Content -->

  </div>

  {% include tags.html %}
  {% include disqus.html %}
  {% include footer.html %}
  {% include analytics.html %}
  {% include scripts.html %}

</body>
</html>
