<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{{ page.title }}</title>

    <meta name="google-site-verification" content="TRtmR1cpyUulwkDMx2V-xW0H7LKO7LhWXHiScsNK5mQ" /> <!-- alerta.io -->
    <meta name="google-site-verification" content="TRtmR1cpyUulwkDMx2V-xW0H7LKO7LhWXHiScsNK5mQ" /> <!-- www.alerta.io -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="/css/carousel.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">alerta</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="http://alerta.io">Home</a></li>
                <li><a href="http://docs.alerta.io">Documentation</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Develop <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="https://github.com/alerta/python-alerta">CLI &amp; Python SDK</a></li>
                    <li><a href="https://github.com/alerta/alerta-contrib">Plugins</a></li>
                    <li><a href="https://github.com/alerta/alerta-chrome-extension">Chrome Extension</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Integrations</li>
                    <li><a href="https://github.com/alerta/nagios3-alerta">Nagios</a></li>
                    <li><a href="https://github.com/alerta/zabbix-alerta">Zabbix</a></li>
                    <li><a href="https://github.com/alerta/riemann-alerta">Riemann</a></li>
                    <li><a href="https://github.com/alerta/sensu-alerta">Sensu</a></li>
                    <li><a href="https://github.com/alerta/kibana-alerta">Kibana</a></li>
                    <li><a href="http://docs.alerta.io/en/latest/integrations.html#pagerduty">PagerDuty</a></li>
                    <li><a href="http://docs.alerta.io/en/latest/integrations.html#cloudwatch">AWS Cloudwatch</a></li>
                    <li><a href="http://docs.alerta.io/en/latest/integrations.html#pingdom">Pingdom</a></li>
                    <li><a href="https://docs.influxdata.com/kapacitor/latest/nodes/alert_node/#alerta">InfluxDB Kapacitor</a></li>
                    <li><a href="https://github.com/alerta/prometheus-config">Prometheus</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Deploy</li>
                    <li><a href="https://github.com/alerta/alerta-cfn">AWS Cloudformation</a></li>
                    <li><a href="https://registry.hub.docker.com/u/alerta/alerta-web/">Docker</a></li>
                    <li><a href="https://github.com/alerta/packer-templates">Packer</a></li>
                    <li><a href="https://github.com/guardian/alerta#deploy-to-the-cloud">Heroku</a></li>
                    <li><a href="https://pypi.python.org/pypi/alerta-server">Python PyPI</a></li>
                    <li><a href="https://github.com/alerta/openshift-try-alerta">RedHat OpenShift</a></li>
                    <li><a href="https://github.com/alerta/vagrant-try-alerta">Vagrant</a></li>
                  </ul>
                </li>
                <li><a href="http://github.com/guardian/alerta">GitHub</a></li>
                <li><a href="/about.html">About</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    {{ content }}

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- FOOTER -->
      <footer>

        <div style="text-align:center">
          <iframe src="https://ghbtns.com/github-btn.html?user=guardian&repo=alerta&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
          <a href="https://twitter.com/alertaio" class="twitter-follow-button" data-show-count="false">Follow @alertaio</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>

        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014-2016 Nick Satterly &middot; <a href="http://ec.europa.eu/justice/data-protection/">Privacy</a> &middot; <a href="http://www.apache.org/licenses/LICENSE-2.0.html">License</a></p>
      </footer>

    </div><!-- /.container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    {% include analytics.html %}

  </body>
</html>
